<% if user_signed_in? %>
  <%= button_to 'Sign out', destroy_user_session_path(@user), method: :delete, data: { turbo: false }, class: "sign-out" %>
  <%= link_to 'add category', new_group_path %>
  <% @groups.each do |group| %>
    <%= image_tag group.icon %>
    <%= group.name %>
  <% end %>
<% else %>
  <div class="sign-in-color"><%= link_to 'Sign In', new_user_session_path, class: "sign-in" %></div>
<% end%>