<h1>New Category</h1>

<%= form_with model: @group, url: groups_path do |form| %>
  <div class="field font-light mb-3">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: "form-control w-25", autofocus: true %>
  </div>

  <div class="field font-light mb-3">
    <%= form.label :photo %><br />
    <%= form.select :icon, [['cars', 'cars.jpg'], ['outings', 'outings.jpg'],['groceries', 'groceries.jpg'], ['health care', 'health-care.jpg'], ['pets', 'pets.jpg']], class: "link2", autofocus: true %>
  </div>
  <div class="actions">
    <%= form.submit "Save", class: "link font-light mb-5 mt-3" %>
  </div>
<% end %>
<div>
  <%= link_to "Back to groups", groups_path %>
</div>
