<div class="d-flex justify-content-center font-bold">
  <h1>Transactions</h1>
</div>
<div class="d-flex justify-content-end">
  <%= button_to "Back", groups_path, class: "p-2 me-5 link font-light" %>
</div>

<div class="card m-5">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= image_tag @group.icon, class: "image-size m-3" %>
      <p class="font-light"><%= @group.name %></p>
    </div>
    <div class="ml-auto">
      <%= button_to "Remove", @group, method: :delete, class:"p-2 btn btn-danger font-light" %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center font-bold">
  <h2>Details</h2>
</div>
<%= link_to "create", new_group_entity_path(group_id: @group.id), class:"p-2 btn btn-danger font-light" %>

<% if @entities.empty? %>
  <p>nothing here</p>
<% else %>
  <div class="card m-5">
    <div class="card-body d-flex align-items-center justify-content-between">
      <% @entities.each do |entity| %>
        <%= entity.name %>
        <p>$ <%= entity.amount%></p>
        <div class="ml-auto">
          <%= button_to "Remove", @group, method: :delete, class:"p-2 btn btn-danger font-light" %>
        </div>
      <% end %>
      </div>
  </div>
<% end %>
    



